[submodule "Submodules/SKCoreDataManager"]
	path = Submodules/SKCoreDataManager
url=http://git.3squared.com/ios-libraries/SKCoreDataManager.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
